/**    Created on : 15-apr-2015, 22.38.04
    Author     : christianberti
*/
#container {
 width: 95%;
}
 
header {
 width: 100%;
}
 
#main {
 width: 100%;
}
 
article {
 width: 100%;
}
 
#ricerca input[type=text] {
 width: 60%;
}
 
footer {
 width: 100%;
}
p {
 font-size: 0.875em;
}
 
nav {
 font-size: 1.0625em;
}
body {
 font-size: 100%;
}